<document>
   <productBundleTemplate theme="dark">
	  <banner>
		 <stack>
			<title>{{ title }}</title>
			<row>
				{{!-- <text><badge src="resource://tomato-fresh"/> {{toFixed popularity }}%</text> --}}
				<text>Durata: {{duration runtime }}</text>
				<text>Genere: {{ genre }}</text>
				<text>Anno: {{ year }}</text>
			</row>
			{{!-- <row>
				<text>{{ tagline }}</text>
			</row> --}}
			<description allowsZooming="true" moreLabel="more">{{ description }}</description>
			<row>
				<buttonLockup data-href-page="play" data-href-page-options="{{toJSON this }}">
					<badge src="resource://button-play" />
					<title>Play</title>
				</buttonLockup>
			</row>
		 </stack>
		 <heroImg src="{{big_poster }}"/>
		</banner>
		{{!-- <shelf>
			<header>
				<title>Related Movies</title>
			</header>
			<section>
				<lockup></lockup>
			</section>
		</shelf> --}}
   </productBundleTemplate>
</document>